@model ZenithSociety.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eventFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eventFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eventTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eventTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.eventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
